<div class="wrapper">
    <div class="container">
        <a href="/facebook" class="fb-login social-login">
            Register with Facebook
        </a>

        <%- include('partials/msg.ejs'); %>
        
        <p class="seperator">-OR-</p>
        <form autocomplete="off" action="/users/register" method="POST">
            <div class="group">
                <label for="name">Your Name</label>
                <input value="<%= typeof name !='undefined' ? name: '' %>" type="text" id="name" name="name" />
            </div>
            <div class="group">
                <label for="email">Email:</label>
                <input value="<%= typeof email !='undefined' ? email: '' %>" type="email" id="email" name="email">
            </div>
            <div class="group">
                <label for="password">Password:</label>
                <input value="<%= typeof password !='undefined' ? password: '' %>" id="password" type="password"
                    name="password">
            </div>
            <div class="group">
                <label for="password">Confirm Password:</label>
                <input value="<%= typeof cpassword !='undefined' ? cpassword: '' %>" id="password" type="password"
                    name="cpassword">
            </div>
            <a href="/users/login" class="forget-link">Sign up</a>
            <input type="submit" value="Login" id="submit">
        </form>

    </div>
</div>